deploy/stage/
target/
logs/
project/project/
project/target/
tmp/
.cache
/bin
/.target

# intellij IDEA project files
*.iml
.idea/
.idea_modules/

# Eclipse project files
.classpath
.externalToolBuilders
.project
.settings/

# Windows stuff
Thumbs.db

# Mac Stuff
*.DS_Store
run.sh
.gradle
gradle/
gradlew
gradlew.bat

# Vagrant
.vagrant
*.pyc

# ElasticBeanstalk
.elasticbeanstalk