@(dbConfigForm: Form[controllers.DbConfig])(implicit flash: Flash, messages: Messages, session: play.api.mvc.Session, lang: play.api.i18n.Lang)

<html>
    <head>
        <title> Slick Schema Exporter </title>
    </head>
    <body>
        <h1> Slick Schema Exporter </h1>

        @helper.form(action = routes.Application.codeGen()) {
            @helper.inputText(dbConfigForm("tablesCsv"))
            @helper.inputText(dbConfigForm("dbUrl"))
            @helper.inputText(dbConfigForm("dbUser"))
            @helper.inputPassword(dbConfigForm("dbPassword"))
            <p>
                <div class="form-group">
                    <select id="dbDriver" name="dbDriver" >
                        <option value="@Application.POSTGRES_DRIVER">@Application.POSTGRES_DRIVER</option>
                        <option value="@Application.MYSQL_DRIVER">@Application.MYSQL_DRIVER</option>
                    </select>
                </div>
            </p>
            <div class="actions">
                <input type="submit" value="Create" >
            </div>
        }
    </body>
</html>